extends ../global/header

block head
  title Horizons | Log In
  link(rel='stylesheet', href='/stylesheets/login/background.css')
  link(rel='stylesheet', href='/stylesheets/login/center-login.css')

block content
  div(class="container")
    div(class="row inner-container")
      div(class="col-md-4 col-sm-4")
      div(class="col-md-4 col-sm-4")
        h1= title
        br
        form(name="login", method="post", action="/logon")
          input(class="form-control", type="text", name="username", placeholder="Viking Username")
          input(class="form-control", type="password", name="password", placeholder="Password")
          br
          input(class="btn btn-default btn-primary form-control", type="submit", value="Enter")
      div(class="col-md-4 col-sm-4")

