doctype html
html
  head
    //Metadata
    meta(charset="UTF-8")
    meta(name="description", content="Lawrence University class registration tool")
    meta(name="keywods", content="Lawrence, Register, Class")
    meta(name="author", content="Eddie Elizondo and Nigel Schuster")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    
    //Bootstrap
    link(rel='text/javascript', href='/javascript/bootstrap.min.js')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    
    //Fonts
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Nunito:300')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Headland+One')
    
    //Global css
    link(rel='stylesheet', href='/stylesheets/global-style.css')
    block title
      title Horizons
    
  body
    block content
