<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/gemini</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.username">gemini</property>
  <property name="hibernate.connection.password">Gemini123</property>
  <property name="hibernate.hbm2ddl.auto">create</property>
  <property name="hibernate.c3p0.min_size">5</property>
  <property name="hibernate.c3p0.max_size">20</property>
  <property name="hibernate.c3p0.timeout">1000</property>
  <property name="hibernate.c3p0.max_statements">50</property>
  <property name="hibernate.c3p0.idle_test_period">3000</property>
  <mapping class="com.schuster.entities.Course"/>
  <mapping class="com.schuster.entities.CourseInstance"/>
  <mapping class="com.schuster.entities.Department"/>
  <mapping class="com.schuster.entities.Instructor"/>
  <mapping class="com.schuster.entities.Requirement"/>
  <mapping class="com.schuster.entities.Schedule"/>
  <mapping class="com.schuster.entities.Term"/>
  <mapping class="com.schuster.entities.TimeSlot"/>
  <mapping class="com.schuster.entities.User"/>
 </session-factory>
</hibernate-configuration>
